nav {
  height: 80px;
  width: 100%;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 40px;

  @include Ipad-two {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $primaryColor;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 2;
  }
}
nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
  @include Ipad-two {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
nav a {
  color: white;
  padding: 7px 10px;
}

a.active,
a:hover {
  color: $accentColor;
}
nav #icon {
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  display: none;
  @include Ipad-two {
    display: block;

    color: white;
  }
}

@media screen and (max-width: 768px) {
  nav ul.show {
    left: 0;
  }
}
